html body{
  font-family: 'Bubblegum Sans';
  font-size: 20px;
  font-weight: 200;
}
#header{
  background: url(images/h_img.jpg);
  background-position: center;
  background-size: 100%,100%;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  text-align: center;
  text-transform: uppercase;
}
h1 {
  text-align: center;
}
h2{
  position: center;
  margin: 30%;
  border: 0px;
  text-align: center;
  font-weight: 900;
}
h3{
  position: center;
  font-size: 10%;
}
#logo{
  margin-left: 1%;
  margin-top: 10%;
  margin-bottom: 5%;
}
#click{
  margin-left: 0%;
  margin-top: 10%;
  margin-bottom: 5%;
}
.paragraph{
  background-size: 100%,100%;
  background-repeat: no-repeat;
  text-align: center;
}
.paragraph.about{
  color:black;
}
.paragraph.services{
  color: white;
  background-image: url(images/s_image.jpg);
}
.hidden {
  display: none;
}
.col-md-3:hover {
  opacity: 0.3;
}
.col-md-3 img {
  width: 260px;
  height: 210px;
  padding: 5%;
}
textarea {
  border-radius: 5px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  margin-top: 1%;
}
#links{
  position: center;
  margin-left: 30%;
  margin-right: 5%;
}
.footer{
  margin-left: 40%;
}
.design-hidden {
  display: none;
}
.development-hidden {
  display: none;
}
.product-hidden {
  display: none;
}
.img-class{
  padding: 5%;
  margin-left: 30%;
}
.portfolio{
  margin: 5%;
}
h3{
   padding: 5%;
  margin-left: 30%; 
}
.contact-us{
  background: url(images/c_image.jpg);
  background-position: center;
  background-size: 100%,100%;
  background-repeat: no-repeat;
  text-align: center;
  text-transform: uppercase;
}
.contact-us image{
 height: 100%;
 width: 100%;
}
#contact-header{
  padding: 2%;
}
::placeholder{
  color: white;
}
input[type="text"]{
  background: rgba(0, 0, 0, 0);
    margin-right: 100%;
    width: 100%;
    box-sizing: border-box;
}
input[type="email"]{
  background: rgba(0, 0, 0, 0);
    margin-left: 100%;
    width: 100%;
    box-sizing: border-box
}
#name1{
  display: inline-block;
}
#email1{
  display: inline-block;
}